
.header{

	background: #333;


}

.header h2{

	float:left;
	font-family:"Rockwell", "sans serif";
	color:;


}

.header a{

	float:right;
	text-decoration: none;
	margin-top:30px;
	margin-right:10px;
}


.clear{

	clear:both;
}
.login-page{

	width:360px;
	padding:10% 0 0;
	margin:auto;

}
.form{

	position:relative;
	z index:1;
	background-color: #fff;
	max-width: 360px;
	margin:0 auto 100px;
	padding:45px;
	text-align: center;

}

.form input{

	font-family: "Roboto", "Sans serif";
	outline:1;
	background: #f2f2f2;
	width:100%;
	border:0;
	margin: 0 0 15px;
	padding:15px;
	box-sizing: border-box;
	font-size: 14px;

}

.form button{
	
	font-family: "Roboto", "Sans serif";
	text-transform:uppercase;
	outline:0;
	background: #4CAf50;
	width:100%;
	border:0px;
	padding:15px;
	color:#fff;	
	font-size: 14px;
	cursor:pointer;

}

.form button:hover, .form button:active{
	background: #43A047;
	
}

body{

	background-image: url(../images/van2.jpg);
}
