.header{

	background: #333;


}

.header h2{

	float:left;
	font-family:"Rockwell", "sans serif";
	color:;


}

.header a{

	float:right;
	text-decoration: none;
	margin-top:30px;
	margin-right:10px;
}


body{

	font-family: "Roboto", "sans serif";
	background-image: url(../images/van2.jpg);
	
}


.clear{

	clear:both;
}

.options{

	
}

.option-items{

	list-style-type: none;
	padding:10px;

}

.option-items a{

	text-decoration: none;
	color:#000;
	font-size: 20px;
}

.option-items a:hover {

	background-color: blue;
	color:#fff;
	margin:20px;
}

